<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code,"Codigo",:class => "label_form" %>
    <%= f.text_field :code,:class => "text_field_form", :required => true %>
  </div>
  <div class="field">
    <%= f.label :name,"Nombre",:class => "label_form" %>
    <%= f.text_field :name,:class => "text_field_form", :required => true %>
  </div>
  <div class="field">
    <%= f.label :description,"Descripcion",:class => "label_form" %>
    <%= f.text_area :description,:class => "text_field_form", :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :procedure_id, "Proceso", :class => "label_form" %>
    <%= f.collection_select :procedure_id, Procedure.all, :id, :code, { :prompt => 'Seleccione un Proceso' }, :class => "select_form", :required => true%>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn_form" %>
  </div>
  <hr>
<% end %>
